<!-- <div class="py-3">
    <h5 class="font-weight-bold">Projects Started After</h5>
    <app-datepicker fieldName="customdate-Project Period Start Date-gte" (onDatePicked)="onDateSelection($event)" [params]="params"></app-datepicker>
</div>

<div class="py-3">
    <h5 class="font-weight-bold">Projects Started Before</h5>
    <app-datepicker fieldName="customdate-Project Period Start Date-lte" (onDatePicked)="onDateSelection($event)" [params]="params"></app-datepicker>
</div> -->

<!-- <div class="py-3">
    <h5 class="font-weight-bold">Projects End After</h5>
    <app-datepicker fieldName="customdate-Grant Project Period End Date-gte" (onDatePicked)="onDateSelection($event)" [params]="params"></app-datepicker>
</div>

<div class="py-3">
    <h5 class="font-weight-bold">Projects End Before</h5>
    <app-datepicker fieldName="customdate-Grant Project Period End Date-lte" (onDatePicked)="onDateSelection($event)" [params]="params"></app-datepicker>
</div> -->