<nav class="navbar navbar-expand-lg navbar-light bg-indigo">
    <a class="navbar-brand" href="/"><img class="logo" src="/assets/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-lg-6 mx-auto">
      <app-searchbar class="row"></app-searchbar>
    </div>
    <div class="form-inline mt-2 mt-md-0 mr-2">
      <app-login></app-login>
    </div>
  </nav>          